<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ugcsap2013"
    android:versionCode="1"
    android:versionName="1.0" 
    >
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="11" />

    <application
        
        
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.ugcsap2013.Menu"
            android:label="@string/app_name" 
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.ugcsap2013.Lectures"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            
        </activity>
        <activity
            android:name="com.example.ugcsap2013.Dbview"
            android:label="@string/app_name" >
            
        </activity>
        <activity
            android:name="com.example.ugcsap2013.Publication"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            
        </activity>
        <activity
            android:name="com.example.ugcsap2013.Jurnal"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            
        </activity>
          <activity
            android:name="com.example.ugcsap2013.Article"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            
        </activity>
         <activity
            android:name="com.example.ugcsap2013.Conference"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            
        </activity>
            <activity
            android:name="com.example.ugcsap2013.Book"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            
        </activity>
    </application>

</manifest>